.base {
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

.trafficTop {
    width: 10px;
    height: 40px;
    margin-bottom: -5px;
}

.light {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.iluminado {
    filter: brightness(1.75);
    transition: all 0.3s ease;
  }
  
  .red {
    background-color: #dc2626;
    box-shadow: 0 0 20px #dc2626;
  }
  
  .yellow {
    background-color: #fbbf24;
    box-shadow: 0 0 20px #fbbf24;
  }
  
  .green {
    background-color: #16a34a;
    box-shadow: 0 0 20px #16a34a;
  }